<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n0texpecterr0r.rhapsody">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".view.SelectActivity">
        </activity>
        <activity android:name=".permission.PermissionActivity">
        </activity>
    </application>

</manifest>